@import "_common-vars";

.text-columns-block {
    &__column {
        ul {
            padding-left: 1.25rem;
            margin-bottom: 1.5rem;

            li {
                margin-bottom: 0.5rem;
            }
        }

        // Target any headings within the WYSIWYG
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        // Subdued link hover styles
        a {
            text-decoration: underline;
            text-underline-offset: 4px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}