// Button Component Styles
.btn {
  transition: all 0.3s ease !important;
  border-radius: 50rem !important ;
  padding: 0.5rem 1.5rem;
  font-weight: 500;

  &:hover {
    transform: translateY(-2px);
  }

  &-tertiary {
    background-color: $tertiary !important;
  }

  &-white {
    background-color: $white !important;

    &:hover {
      background-color: darken($white, 10%) !important;
    }
  }

  &-black {
    background-color: $black !important;

    &:hover {
      background-color: lighten($black, 10%) !important;
    }
  }
}