// Button Component Styles
.btn {
  transition: all 0.3s ease;
  border-radius: 50rem;
  padding: 0.5rem 1.5rem;
  font-weight: 500;

  &:hover {
    transform: translateY(-2px);
  }

  &-tertiary {
    background-color: $tertiary;
  }

  &-white {
    background-color: $white;

    &:hover {
      background-color: darken($white, 10%);
    }
  }

  &-black {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: lighten($black, 10%);
    }
  }
}