/*
 * Place theme-related styling in this file.
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section,
.section {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: 991.98px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

.site-main {
  padding-top: 3rem;

  @media (max-width: 767px) {
    padding-top: 4rem;
  }
}

// extra support for tertiary colors
.text {
  &-tertiary {
    color: $tertiary !important;
  }
}

.fill {
  &-tertiary {
    color: $tertiary !important;
  }
}

.bg {
  &-black {
    background-color: $black;
    color: $white;
  }

  &-white {
    background-color: $white;
    color: $black;
  }

  &-primary {
    background-color: $primary;
    color: $white;
  }

  &-secondary {
    background-color: $secondary;
    color: $black;
  }

  &-tertiary {
    background-color: $tertiary;
    color: $white;
  }

  &-info {
    background-color: $info;
    color: $white;
  }
}