/* 
 * Gutenberg Content Alignment 
 * Forces standard blocks (p, h*, etc.) to align to the container grid 
 * while allowing ACF blocks to control their own width.

 * TODO: Might delete this file as we disable all Gutenberg items in the CMS
 */

.site-main> {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul:not([class]),
    ol:not([class]),
    dl,
    blockquote,
    pre,
    table,

    .wp-block-image:not(.alignfull):not(.alignwide),
    .wp-block-quote,
    .wp-block-code,
    .wp-block-table,
    .wp-block-preformatted,
    .wp-block-verse,
    .wp-block-group:not(.alignfull):not(.alignwide) {
        @extend .container;
        margin-left: auto;
        margin-right: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}